/*html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*my code*/

nav{
	width: 100%;
	height: 50px;
	background-color: grey;
}

.name{
	width: 100%;
	height: 25px;
	background: grey;
	margin: 0px;
}

.name p{
	color: #FFF;
	margin: 0px;
	margin-left: 5px;
	text-align: left;
	font-weight:  100;
	font-size: 22px;
	font-family: Courier New;
	line-height: 40px;
}

a{
	text-decoration: none;
}

ul li a {
	position: sticky;
  	top: 0;
	display: block;
	padding: 0 20px;
	margin-top: 16px;
	color: #FFF;
	float:left;
	text-align: left;
	font-weight:  100;
	font-size: 18px;
	font-family: vernada;
}

ul li a:hover{
	color: red;
}

h2{
	color: black;
	font-family: calibri,"Times New Roman";
	font-size: 35px;
	margin: 5px;
	text-align: center;
	text-transform: capitalize;
	word-spacing: 10px;
}

.menu{
	border-style: outset;
  	border-color: white;
  	border-width: 5px;
	width: 100%;
	height:150px;
	background: white;
	margin: 0px;
}
.product{
	color: #999;
	margin-left: 5px;
	margin-top: 5px;
	text-align: left;
	font-weight:  100;
	font-size: 24px;
}

.desp{
	margin-top: 10px;
	margin-left: 7px;
	font-size: 18px;
}
.desp1{
	margin-top: 3px;
	margin-left: 10px;
	font-size: 18px;
}
.price{
	margin-top: 30px;
	margin-left: 15px;
	font-size: 22px;
	font-weight: bold;
}

.image{
	margin-right: 15px;
	border-radius: 5%;
}